{
  "presets": [
    ["@babel/preset-env", {"loose": true,}],
     "@babel/preset-react"
  ],
  
  "plugins": [
    "@babel/plugin-syntax-dynamic-import", 
    "@babel/plugin-transform-runtime", 
    ["module:fast-async", { "spec": true }]
  ]
}