{
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "exclude": [
          "transform-regenerator"
        ]
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "emotion",
          {
            "hoist": true
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        [
          "emotion",
          {
            "sourceMap": true,
            "autoLabel": true,
            "labelFormat": "[filename]--[local]"
          }
        ]
      ]
    }
  }
}
