.game-block{
  color: #232323;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: inline-block;
  vertical-align: middle;
  position: absolute;

  transition: 230ms, ease-in-out;
  transition-property: all;
}

.game-block.new-block{
  animation-name: show;
  animation-duration: 500ms;
}

.game-block.merged-block{
  animation-name: scale;
  animation-duration: 100ms;
}


@keyframes scale {
  from {
    transform-origin: center;
    transform: scale();
  }
  to {
    transform-origin: center;
    transform: scale(1.1);
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
