.Header{
  margin: 50px auto 10px auto;
}

.Header h2{
  color: #30404d;
  width: 65%;
  float: left;
}

.Header button{
  margin-right: 20px;
  margin-bottom: 20px;
}

.Header:after {
  content: "";
  display: table;
  clear: both;
}

.Header .score {
  width: 35%;
  float: right;
}
