.Settings .cards{
  width: 50%;
  margin: 0 auto;
}

.Settings .cards .pt-card{
  margin-top: 20px;
}

.Settings .preview h1{
  margin-top: 30px;
  color: #182026;
  text-align: center;
}

.Settings button{
  margin-top: 20px;
  margin-right: 20px;
}
