.container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin:15% 5%;
}

.element {
	width: 400px;
	height: 400px;
	margin: 0px 20px;
	background-color: purple;
}

.element:hover{
	width: 450px;
	height: 450px;
}

.numbers{

}